@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Users and Addresses</h1>
</div>

<table class="table table-hover" data-testid="table-Users">
	<thead>
		<tr>
			<th colspan='5' style="text-align:center;font-size: large;">
				USERS
			</th>
		</tr>
		@if (Model.Users is not null && Model.Users.Any())
		{
			<tr style="text-align:center">
				<th>
				</th>
				<th headers="par" scope="col">
					User Name
				</th>
				<th headers="par" scope="col">
					Year of Birth
				</th>
				<th headers="par" scope="col">
					Gender
				</th>
				<th>
				</th>
			</tr>
		}
	</thead>
	<tbody>
		@if (Model.Users is not null && Model.Users.Any())
			@foreach (var item in Model.Users)
			{
				var img = item.ProfileImage is not null ? $"profileImages/{item.ProfileImage}" : "noimage.jpg";
				var profileImapgePath = $"~/images/{img}";
				<tr>
					<td data-testid="td-ProfileImage">
						<img class="imageThumbnailSm" asp-append-version="true" src="@Url.Content(profileImapgePath)" />
					</td>
					<td data-testid="td-UserName">
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td data-testid="td-YearOfBirth">
						@Html.DisplayFor(modelItem => item.YearOfBirth)
					</td>
					<td data-testid="td-Gender">
						@Html.DisplayFor(modelItem => item.Gender)
					</td>
					<td style="text-align:right">
						<a asp-page="/Forms/EditUser" class="btn btn-primary m-1" asp-route-id="@item.Id" data-testid="button-Edit">Edit</a>
						<a asp-page="/Forms/DeleteUser" class="btn btn-danger m-1" asp-route-id="@item.Id" data-testid="button-Delete">Delete</a>
					</td>
				</tr>
			}
	</tbody>
</table>

<table class="table table-hover" data-testid="table-Addresses">
	<thead>
		<tr>
			<th colspan='5' style="text-align:center;font-size: large;">
				ADDRESSES
			</th>
		</tr>
		@if (Model.Adresses is not null && Model.Adresses.Any())
		{
			<tr>
				<th scope="col">
					Street Address
				</th>
				<th scope="col">
					City
				</th>
				<th scope="col">
					State
				</th>
				<th scope="col">
					Zip Code
				</th>
				<th>
				</th>
			</tr>
		}
	</thead>
	<tbody>
		@if (Model.Adresses is not null && Model.Adresses.Any())
			@foreach (var item in Model.Adresses)
			{
				<tr>
					<td data-testid="td-StreetAddress">
						@Html.DisplayFor(modelItem => item.StreetAddress)
					</td>
					<td data-testid="td-City">
						@Html.DisplayFor(modelItem => item.City)
					</td>
					<td data-testid="td-State">
						@Html.DisplayFor(modelItem => item.State)
					</td>
					<td data-testid="td-ZipCode">
						@Html.DisplayFor(modelItem => item.ZipCode)
					</td>
					<td style="text-align:right">
						<a asp-page="/Forms/DeleteAddress" class="btn btn-danger m-1" asp-route-id="@item.Id" data-testid="button-Delete">Delete</a>
					</td>
				</tr>
			}
	</tbody>
</table>
